/* GRID */
/* GRID */
/* GRID */
html, body {
  margin: 0;
  padding: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

.grid {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }

[class*='col-'] {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 0 10px; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.33333%; }

.col-2-3 {
  width: 66.66667%; }

.col-1-4 {
  width: 25%; }

.col-2-4 {
  width: 50%; }

.col-3-4 {
  width: 75%; }

.col-1-5 {
  width: 20%; }

.col-2-5 {
  width: 40%; }

.col-3-5 {
  width: 60%; }

.col-4-5 {
  width: 80%; }

.col-1-6 {
  width: 16.66667%; }

.col-2-6 {
  width: 33.33333%; }

.col-3-6 {
  width: 50%; }

.col-4-6 {
  width: 66.66667%; }

.col-5-6 {
  width: 83.33333%; }

.col-1-7 {
  width: 14.28571%; }

.col-2-7 {
  width: 28.57143%; }

.col-3-7 {
  width: 42.85714%; }

.col-4-7 {
  width: 57.14286%; }

.col-5-7 {
  width: 71.42857%; }

.col-6-7 {
  width: 85.71429%; }

.col-1-8 {
  width: 12.5%; }

.col-2-8 {
  width: 25%; }

.col-3-8 {
  width: 37.5%; }

.col-4-8 {
  width: 50%; }

.col-5-8 {
  width: 62.5%; }

.col-6-8 {
  width: 75%; }

.col-7-8 {
  width: 87.5%; }

.col-1-9 {
  width: 11.11111%; }

.col-2-9 {
  width: 22.22222%; }

.col-3-9 {
  width: 33.33333%; }

.col-4-9 {
  width: 44.44444%; }

.col-5-9 {
  width: 55.55556%; }

.col-6-9 {
  width: 66.66667%; }

.col-7-9 {
  width: 77.77778%; }

.col-8-9 {
  width: 88.88889%; }

.col-1-10 {
  width: 10%; }

.col-2-10 {
  width: 20%; }

.col-3-10 {
  width: 30%; }

.col-4-10 {
  width: 40%; }

.col-5-10 {
  width: 50%; }

.col-6-10 {
  width: 60%; }

.col-7-10 {
  width: 70%; }

.col-8-10 {
  width: 80%; }

.col-9-10 {
  width: 90%; }

.col-1-11 {
  width: 9.09091%; }

.col-2-11 {
  width: 18.18182%; }

.col-3-11 {
  width: 27.27273%; }

.col-4-11 {
  width: 36.36364%; }

.col-5-11 {
  width: 45.45455%; }

.col-6-11 {
  width: 54.54545%; }

.col-7-11 {
  width: 63.63636%; }

.col-8-11 {
  width: 72.72727%; }

.col-9-11 {
  width: 81.81818%; }

.col-10-11 {
  width: 90.90909%; }

.col-1-12 {
  width: 8.33333%; }

.col-2-12 {
  width: 16.66667%; }

.col-3-12 {
  width: 25%; }

.col-4-12 {
  width: 33.33333%; }

.col-5-12 {
  width: 41.66667%; }

.col-6-12 {
  width: 50%; }

.col-7-12 {
  width: 58.33333%; }

.col-8-12 {
  width: 66.66667%; }

.col-9-12 {
  width: 75%; }

.col-10-12 {
  width: 83.33333%; }

.col-11-12 {
  width: 91.66667%; }

.col-1 {
  width: 1%; }

.col-2 {
  width: 2%; }

.col-3 {
  width: 3%; }

.col-4 {
  width: 4%; }

.col-5 {
  width: 5%; }

.col-6 {
  width: 6%; }

.col-7 {
  width: 7%; }

.col-8 {
  width: 8%; }

.col-9 {
  width: 9%; }

.col-10 {
  width: 10%; }

.col-11 {
  width: 11%; }

.col-12 {
  width: 12%; }

.col-13 {
  width: 13%; }

.col-14 {
  width: 14%; }

.col-15 {
  width: 15%; }

.col-16 {
  width: 16%; }

.col-17 {
  width: 17%; }

.col-18 {
  width: 18%; }

.col-19 {
  width: 19%; }

.col-20 {
  width: 20%; }

.col-21 {
  width: 21%; }

.col-22 {
  width: 22%; }

.col-23 {
  width: 23%; }

.col-24 {
  width: 24%; }

.col-25 {
  width: 25%; }

.col-26 {
  width: 26%; }

.col-27 {
  width: 27%; }

.col-28 {
  width: 28%; }

.col-29 {
  width: 29%; }

.col-30 {
  width: 30%; }

.col-31 {
  width: 31%; }

.col-32 {
  width: 32%; }

.col-33 {
  width: 33%; }

.col-34 {
  width: 34%; }

.col-35 {
  width: 35%; }

.col-36 {
  width: 36%; }

.col-37 {
  width: 37%; }

.col-38 {
  width: 38%; }

.col-39 {
  width: 39%; }

.col-40 {
  width: 40%; }

.col-41 {
  width: 41%; }

.col-42 {
  width: 42%; }

.col-43 {
  width: 43%; }

.col-44 {
  width: 44%; }

.col-45 {
  width: 45%; }

.col-46 {
  width: 46%; }

.col-47 {
  width: 47%; }

.col-48 {
  width: 48%; }

.col-49 {
  width: 49%; }

.col-50 {
  width: 50%; }

.col-51 {
  width: 51%; }

.col-52 {
  width: 52%; }

.col-53 {
  width: 53%; }

.col-54 {
  width: 54%; }

.col-55 {
  width: 55%; }

.col-56 {
  width: 56%; }

.col-57 {
  width: 57%; }

.col-58 {
  width: 58%; }

.col-59 {
  width: 59%; }

.col-60 {
  width: 60%; }

.col-61 {
  width: 61%; }

.col-62 {
  width: 62%; }

.col-63 {
  width: 63%; }

.col-64 {
  width: 64%; }

.col-65 {
  width: 65%; }

.col-66 {
  width: 66%; }

.col-67 {
  width: 67%; }

.col-68 {
  width: 68%; }

.col-69 {
  width: 69%; }

.col-70 {
  width: 70%; }

.col-71 {
  width: 71%; }

.col-72 {
  width: 72%; }

.col-73 {
  width: 73%; }

.col-74 {
  width: 74%; }

.col-75 {
  width: 75%; }

.col-76 {
  width: 76%; }

.col-77 {
  width: 77%; }

.col-78 {
  width: 78%; }

.col-79 {
  width: 79%; }

.col-80 {
  width: 80%; }

.col-81 {
  width: 81%; }

.col-82 {
  width: 82%; }

.col-83 {
  width: 83%; }

.col-84 {
  width: 84%; }

.col-85 {
  width: 85%; }

.col-86 {
  width: 86%; }

.col-87 {
  width: 87%; }

.col-88 {
  width: 88%; }

.col-89 {
  width: 89%; }

.col-90 {
  width: 90%; }

.col-91 {
  width: 91%; }

.col-92 {
  width: 92%; }

.col-93 {
  width: 93%; }

.col-94 {
  width: 94%; }

.col-95 {
  width: 95%; }

.col-96 {
  width: 96%; }

.col-97 {
  width: 97%; }

.col-98 {
  width: 98%; }

.col-99 {
  width: 99%; }

.col-100 {
  width: 100%; }

/* mobile */
/* mobile */
/* mobile */
@media only screen and (min-width: 0px) and (max-width: 769px) {
  .grid {
    padding: 0 5px; }

  [class*='col-'] {
    padding: 0 5px; }

  .mob-0 {
    width: 0%;
    padding: 0px; }

  .mob-1-1 {
    width: 100%; }

  .mob-1-2 {
    width: 50%; }

  .mob-1-3 {
    width: 33.33333%; }

  .mob-2-3 {
    width: 66.66667%; }

  .mob-1-4 {
    width: 25%; }

  .mob-2-4 {
    width: 50%; }

  .mob-3-4 {
    width: 75%; }

  .mob-1-5 {
    width: 20%; }

  .mob-2-5 {
    width: 40%; }

  .mob-3-5 {
    width: 60%; }

  .mob-4-5 {
    width: 80%; }

  .mob-1-6 {
    width: 16.66667%; }

  .mob-2-6 {
    width: 33.33333%; }

  .mob-3-6 {
    width: 50%; }

  .mob-4-6 {
    width: 66.66667%; }

  .mob-5-6 {
    width: 83.33333%; }

  .mob-1-7 {
    width: 14.28571%; }

  .mob-2-7 {
    width: 28.57143%; }

  .mob-3-7 {
    width: 42.85714%; }

  .mob-4-7 {
    width: 57.14286%; }

  .mob-5-7 {
    width: 71.42857%; }

  .mob-6-7 {
    width: 85.71429%; }

  .mob-1-8 {
    width: 12.5%; }

  .mob-2-8 {
    width: 25%; }

  .mob-3-8 {
    width: 37.5%; }

  .mob-4-8 {
    width: 50%; }

  .mob-5-8 {
    width: 62.5%; }

  .mob-6-8 {
    width: 75%; }

  .mob-7-8 {
    width: 87.5%; }

  .mob-1-9 {
    width: 11.11111%; }

  .mob-2-9 {
    width: 22.22222%; }

  .mob-3-9 {
    width: 33.33333%; }

  .mob-4-9 {
    width: 44.44444%; }

  .mob-5-9 {
    width: 55.55556%; }

  .mob-6-9 {
    width: 66.66667%; }

  .mob-7-9 {
    width: 77.77778%; }

  .mob-8-9 {
    width: 88.88889%; }

  .mob-1-10 {
    width: 10%; }

  .mob-2-10 {
    width: 20%; }

  .mob-3-10 {
    width: 30%; }

  .mob-4-10 {
    width: 40%; }

  .mob-5-10 {
    width: 50%; }

  .mob-6-10 {
    width: 60%; }

  .mob-7-10 {
    width: 70%; }

  .mob-8-10 {
    width: 80%; }

  .mob-9-10 {
    width: 90%; }

  .mob-1-11 {
    width: 9.09091%; }

  .mob-2-11 {
    width: 18.18182%; }

  .mob-3-11 {
    width: 27.27273%; }

  .mob-4-11 {
    width: 36.36364%; }

  .mob-5-11 {
    width: 45.45455%; }

  .mob-6-11 {
    width: 54.54545%; }

  .mob-7-11 {
    width: 63.63636%; }

  .mob-8-11 {
    width: 72.72727%; }

  .mob-9-11 {
    width: 81.81818%; }

  .mob-10-11 {
    width: 90.90909%; }

  .mob-1-12 {
    width: 8.33333%; }

  .mob-2-12 {
    width: 16.66667%; }

  .mob-3-12 {
    width: 25%; }

  .mob-4-12 {
    width: 33.33333%; }

  .mob-5-12 {
    width: 41.66667%; }

  .mob-6-12 {
    width: 50%; }

  .mob-7-12 {
    width: 58.33333%; }

  .mob-8-12 {
    width: 66.66667%; }

  .mob-9-12 {
    width: 75%; }

  .mob-10-12 {
    width: 83.33333%; }

  .mob-11-12 {
    width: 91.66667%; }

  .mob-1 {
    width: 1%; }

  .mob-2 {
    width: 2%; }

  .mob-3 {
    width: 3%; }

  .mob-4 {
    width: 4%; }

  .mob-5 {
    width: 5%; }

  .mob-6 {
    width: 6%; }

  .mob-7 {
    width: 7%; }

  .mob-8 {
    width: 8%; }

  .mob-9 {
    width: 9%; }

  .mob-10 {
    width: 10%; }

  .mob-11 {
    width: 11%; }

  .mob-12 {
    width: 12%; }

  .mob-13 {
    width: 13%; }

  .mob-14 {
    width: 14%; }

  .mob-15 {
    width: 15%; }

  .mob-16 {
    width: 16%; }

  .mob-17 {
    width: 17%; }

  .mob-18 {
    width: 18%; }

  .mob-19 {
    width: 19%; }

  .mob-20 {
    width: 20%; }

  .mob-21 {
    width: 21%; }

  .mob-22 {
    width: 22%; }

  .mob-23 {
    width: 23%; }

  .mob-24 {
    width: 24%; }

  .mob-25 {
    width: 25%; }

  .mob-26 {
    width: 26%; }

  .mob-27 {
    width: 27%; }

  .mob-28 {
    width: 28%; }

  .mob-29 {
    width: 29%; }

  .mob-30 {
    width: 30%; }

  .mob-31 {
    width: 31%; }

  .mob-32 {
    width: 32%; }

  .mob-33 {
    width: 33%; }

  .mob-34 {
    width: 34%; }

  .mob-35 {
    width: 35%; }

  .mob-36 {
    width: 36%; }

  .mob-37 {
    width: 37%; }

  .mob-38 {
    width: 38%; }

  .mob-39 {
    width: 39%; }

  .mob-40 {
    width: 40%; }

  .mob-41 {
    width: 41%; }

  .mob-42 {
    width: 42%; }

  .mob-43 {
    width: 43%; }

  .mob-44 {
    width: 44%; }

  .mob-45 {
    width: 45%; }

  .mob-46 {
    width: 46%; }

  .mob-47 {
    width: 47%; }

  .mob-48 {
    width: 48%; }

  .mob-49 {
    width: 49%; }

  .mob-50 {
    width: 50%; }

  .mob-51 {
    width: 51%; }

  .mob-52 {
    width: 52%; }

  .mob-53 {
    width: 53%; }

  .mob-54 {
    width: 54%; }

  .mob-55 {
    width: 55%; }

  .mob-56 {
    width: 56%; }

  .mob-57 {
    width: 57%; }

  .mob-58 {
    width: 58%; }

  .mob-59 {
    width: 59%; }

  .mob-60 {
    width: 60%; }

  .mob-61 {
    width: 61%; }

  .mob-62 {
    width: 62%; }

  .mob-63 {
    width: 63%; }

  .mob-64 {
    width: 64%; }

  .mob-65 {
    width: 65%; }

  .mob-66 {
    width: 66%; }

  .mob-67 {
    width: 67%; }

  .mob-68 {
    width: 68%; }

  .mob-69 {
    width: 69%; }

  .mob-70 {
    width: 70%; }

  .mob-71 {
    width: 71%; }

  .mob-72 {
    width: 72%; }

  .mob-73 {
    width: 73%; }

  .mob-74 {
    width: 74%; }

  .mob-75 {
    width: 75%; }

  .mob-76 {
    width: 76%; }

  .mob-77 {
    width: 77%; }

  .mob-78 {
    width: 78%; }

  .mob-79 {
    width: 79%; }

  .mob-80 {
    width: 80%; }

  .mob-81 {
    width: 81%; }

  .mob-82 {
    width: 82%; }

  .mob-83 {
    width: 83%; }

  .mob-84 {
    width: 84%; }

  .mob-85 {
    width: 85%; }

  .mob-86 {
    width: 86%; }

  .mob-87 {
    width: 87%; }

  .mob-88 {
    width: 88%; }

  .mob-89 {
    width: 89%; }

  .mob-90 {
    width: 90%; }

  .mob-91 {
    width: 91%; }

  .mob-92 {
    width: 92%; }

  .mob-93 {
    width: 93%; }

  .mob-94 {
    width: 94%; }

  .mob-95 {
    width: 95%; }

  .mob-96 {
    width: 96%; }

  .mob-97 {
    width: 97%; }

  .mob-98 {
    width: 98%; }

  .mob-99 {
    width: 99%; }

  .mob-100 {
    width: 100%; } }

/*# sourceMappingURL=no-prefix-style.css.map */
